<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>500382892914-r1t4d1ci9nl9h41gbl50gomdacc1pjci.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.500382892914-r1t4d1ci9nl9h41gbl50gomdacc1pjci</string>
	<key>API_KEY</key>
	<string>AIzaSyBoVkwoM9b3rmPtCwPQKNjoCHA1ERPu-Hk</string>
	<key>GCM_SENDER_ID</key>
	<string>500382892914</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.authier</string>
	<key>PROJECT_ID</key>
	<string>authier-bc184</string>
	<key>STORAGE_BUCKET</key>
	<string>authier-bc184.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:500382892914:ios:cc7b3e638c55c5fbc213eb</string>
</dict>
</plist>