<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.USE_BIOMETRIC" />
    <application android:allowBackup="false" android:fullBackupContent="false" android:dataExtractionRules="@xml/backup_rules" android:label="Authier" android:icon="@mipmap/ic_launcher" android:roundIcon="@mipmap/ic_launcher_round" android:supportsRtl="true" android:theme="@style/Theme.Authier" android:usesCleartextTraffic="false">
        <service android:name=".NativeAutofillService" android:label="Authier" android:permission="android.permission.BIND_AUTOFILL_SERVICE" android:exported="true">
            <intent-filter>
                <action android:name="android.service.autofill.AutofillService" />
            </intent-filter>
            <meta-data android:name="android.autofill" android:resource="@xml/autofill_service" />
        </service>
        <activity android:name=".AutofillUnlockActivity" android:exported="false" android:excludeFromRecents="true" android:windowSoftInputMode="adjustResize" />
        <activity android:name=".MainActivity" android:exported="true" android:launchMode="singleTask" android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>
